@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  word-break: keep-all;
  outline: 0px solid silver;
  font-family: 'Noto Sans KR', sans-serif;
}

body {
  color: black;
  overflow-x: hidden;
}

img {
  display: block;
  margin: auto 0;
}

.pc,
.pc-flex {
  display: none;
}

.development{
    position: relative;
    height: 100vh;
}

.development img {
    position: absolute;
    width: 100%;
    max-width: 1500px;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    object-fit: cover;
}

.development2{
    margin-bottom: 250px;
}

.development2 img{
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    height: auto;
}

@media screen and (min-width: 1366px) {

  .pc {
    display: block;
  }

  .mo {
    display: none;
  }

}